
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
